body{
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 370px;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
}

.images-section{
    display: flex;

}

.cat{
    height: 50px ;
    width: 50px;
    border-radius: 25px;
    border: 1px solid black;
    margin: 0px 10px 20px 10px;
}